<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    Make Your Selections For The Week
  </p>

<div>
  <select name="week"  ng-model='vm.selectedWeek.week'>
    <option value="">--Select Week--</option>
    <option value= '1' >--Week 1--</option>
    <option value= '2' >--Week 2--</option>
    <option value= '3' >--Week 3--</option>
    <option value= '4' >--Week 4--</option>
    <option value= '5' >--Week 5--</option>
    <option value= '6' >--Week 6--</option>
    <option value= '7' >--Week 7--</option>
    <option value= '8' >--Week 8--</option>
    <option value= '9' >--Week 9--</option>
    <option value= '10' >--Week 10--</option>
    <option value= '11' >--Week 11--</option>
    <option value= '12' >--Week 12--</option>
    <option value= '13' >--Week 13--</option>
    <option value= '14' >--Week 14--</option>
    <option value= '15' >--Week 15--</option>
    <option value= '16' >--Week 16--</option>
    <option value= '17' >--Week 17--</option>
  </select>
  <button ng-click="vm.getWeekMatchups(vm.selectedWeek)">Get Week's Matchups</button>
</div>


  <div>
    <table>
      <thead>
        <tr>
          <th>
            Matchup ID
          </th>
          <th>
            Home Team
          </th>
          <th>
            Away Team
          </th>
          <th>
            Home Team Spread
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="game in vm.dbWeekMatchupData.list | orderBy: 'id'">
          <td><input type="hidden" ng-model="vm.newPick.matchup"  value="{{game.id}}" ng-init="vm.newPick.matchup=game.id">{{game.id}}</td>
          <td> <input type="radio" ng-model="vm.newPick.team" value="{{game.home}}" > {{game.home}}  </td>
          <td><input type="radio" ng-model="vm.newPick.team" value="{{game.away}}"  >{{game.away}} </td>
          <td> <input type="hidden" ng-model="vm.newPick.home_team_spread" value="{{game.home_team_spread}}" ng-init="vm.newPick.home_team_spread=game.home_team_spread"> {{game.home_team_spread}}</td>
          <td><button ng-click="vm.postPick(vm.newPick)">Submit Pick</button></td>
         
        </tr>
      </tbody>
    </table>

  </div>
</div>