<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

  <h1 id="Welcome">Welcome, {{uc.userObject.userName}}!</h1>
  <button class="btn btn-default" id="logout" ng-click="uc.userService.logout()">Log Out</button>

</div>



<div class="commishTools" ng-model="uc.userObject.is_Commissioner" ng-if="uc.userObject.is_Commissioner == true">
  <h4>Commissioner Tools</h4>
  <button class="btn btn-default" ng-hide="displayed || collapsed || view" ng-model="uc.userObject.is_Commissioner" ng-if="uc.userObject.is_Commissioner == true" ng-click="vm.populateDB(vm.matchupData.list.weeks)">Start A New Season</button>


  <button class="btn btn-default" ng-hide="displayed || view" ng-model="collapsed" ng-click="collapsed=!collapsed">Toggle Spreads Menu</button>

  <div ng-show="collapsed">
    <select name="week" ng-model='vm.selectedWeek.week'>
      <option value="">--Select Week--</option>
      <option value='1'>--Week 1--</option>
      <option value='2'>--Week 2--</option>
      <option value='3'>--Week 3--</option>
      <option value='4'>--Week 4--</option>
      <option value='5'>--Week 5--</option>
      <option value='6'>--Week 6--</option>
      <option value='7'>--Week 7--</option>
      <option value='8'>--Week 8--</option>
      <option value='9'>--Week 9--</option>
      <option value='10'>--Week 10--</option>
      <option value='11'>--Week 11--</option>
      <option value='12'>--Week 12--</option>
      <option value='13'>--Week 13--</option>
      <option value='14'>--Week 14--</option>
      <option value='15'>--Week 15--</option>
      <option value='16'>--Week 16--</option>
      <option value='17'>--Week 17--</option>
    </select>
    <button class="btn btn-default" ng-click="uc.getWeekMatchupsSpreads(vm.selectedWeek)">Get Week's Matchups</button>

    <input type="text" ng-model="vm.newSpread.id" placeholder="Matchup ID">
    <input type="text" ng-model="vm.newSpread.home_team_spread" placeholder="Spread for Home Team">
    <button class="btn btn-default" ng-click=uc.addSpread(vm.newSpread)> Add Spread</button>

    <table class=".table-striped">
      <thead>
        <tr>
          <th>
            Matchup ID
          </th>
          <th>
            Home Team
          </th>
          <th>
            Away Team
          </th>
          <th>
            Home Team Spread
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="game in uc.dbWeekMatchupDataSpreads.list | orderBy: 'date' ">
          <td>
            <p>{{game.id}}</p>
          </td>
          <td> {{game.home}} </td>
          <td>{{game.away}} </td>
          <td>
            <p> {{game.home_team_spread}} </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--end spread div-->


  <button class="btn btn-default" ng-hide="collapsed || view" ng-model="displayed" ng-click="displayed=!displayed">Toggle Game Winners Menu</button>

  <div ng-show="displayed">
    <select name="week" ng-model='vm.selectedWeek.week'>
      <option value="">--Select Week--</option>
      <option value='1'>--Week 1--</option>
      <option value='2'>--Week 2--</option>
      <option value='3'>--Week 3--</option>
      <option value='4'>--Week 4--</option>
      <option value='5'>--Week 5--</option>
      <option value='6'>--Week 6--</option>
      <option value='7'>--Week 7--</option>
      <option value='8'>--Week 8--</option>
      <option value='9'>--Week 9--</option>
      <option value='10'>--Week 10--</option>
      <option value='11'>--Week 11--</option>
      <option value='12'>--Week 12--</option>
      <option value='13'>--Week 13--</option>
      <option value='14'>--Week 14--</option>
      <option value='15'>--Week 15--</option>
      <option value='16'>--Week 16--</option>
      <option value='17'>--Week 17--</option>
    </select>
    <button class="btn btn-default" ng-click="uc.calcWeekWinners(vm.selectedWeek)">Calculate Game Winners For This Week</button>


  </div>
  <!--end winners div-->

  <button class="btn btn-default" ng-hide="displayed || collapsed" ng-model="view" ng-click="view=!view; uc.getUsers()">Toggle Users Menu</button>

  <div class="usersMenu">
    <div ng-show="view">
      <table>
        <thead>
          <tr>
            <th>
              Users
            </th>
            <th>
              Edit
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in uc.usersData.list | orderBy: 'id' ">
            <td>
              {{user.username}}
            </td>
            <td>
              <button type="button" class="glyphicon glyphicon-trash" ng-click="uc.deleteUser(user)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--end users div-->

</div>
<!--end commissioner tools-->



<div class= "standingsTables">
<div class="seasonStandings">
  <h4 class="seasonStandingsHeader">Season Standings</h4>
  <table class="standings">
    <thead>
      <tr>
        <th>
          Player Name
        </th>
        <th>
          Total Points
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in uc.players  | orderBy: '-pointTotal' ">
        <td>
          {{person.userName}}
        </td>
        <td>
          {{person.pointTotal}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="weekStandings" ng-if="clicked">
    <h4 class="seasonStandingsHeader">Points for the Week</h4>
    <table class="standings">
      <thead>
        <tr>
          <th>
            Player Name
          </th>
          <th>
            Total Points
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in uc.players  | orderBy: '-pointTotalWeek' ">
          <td>
            {{person.userName}}
          </td>
          <td>
            {{person.pointTotalWeek}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="playerPicks">
    <h4>See Everyone's Picks for the week</h4>
  <select name="week" ng-model='vm.selectedWeek.week' class="custom-select mr-sm-2" ng-change="clicked=true; uc.getWeekMatchupsPicks(vm.selectedWeek); uc.getWeekStandings(vm.selectedWeek);">
    <option value="">--Select Week--</option>
    <option value='1'>--Week 1--</option>
    <option value='2'>--Week 2--</option>
    <option value='3'>--Week 3--</option>
    <option value='4'>--Week 4--</option>
    <option value='5'>--Week 5--</option>
    <option value='6'>--Week 6--</option>
    <option value='7'>--Week 7--</option>
    <option value='8'>--Week 8--</option>
    <option value='9'>--Week 9--</option>
    <option value='10'>--Week 10--</option>
    <option value='11'>--Week 11--</option>
    <option value='12'>--Week 12--</option>
    <option value='13'>--Week 13--</option>
    <option value='14'>--Week 14--</option>
    <option value='15'>--Week 15--</option>
    <option value='16'>--Week 16--</option>
    <option value='17'>--Week 17--</option>
  </select>
  

  <div class="container" id="showPicks">

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="game in uc.dbWeekMatchupData.list | orderBy: 'date' ">
        <div class="teamNames">
          <h5 class="panel-heading">
            {{game.home}}
          </h5>
          <ul class="list-group" ng-repeat="player in uc.userPickData.list">
            <li class="list-group-item" ng-if="player.matchup === game.id && player.name === game.home">

              {{player.username}}

            </li>
          </ul>
        </div>

        <div class="teamNames">
          <h5 class="panel-heading">
            {{game.away}}
          </h5>
          <ul class="list-group" ng-repeat="player in uc.userPickData.list">
            <li class="list-group-item" ng-if="player.matchup === game.id && player.name === game.away">

              {{player.username}}

            </li>
          </ul>
        </div>

      </li>
    </ul>
  </div>



</div>
<!--end display picks div-->